SECRET_KEY=your_secret_key

DEBUG=debug

NAME=your_db_name
USER=your_user_name
PASSWORD=your_password
HOST=your_host
PORT=your_port

EMAIL_BACKEND=your_email_backend_here
EMAIL_HOST=your_email_host_here
EMAIL_PORT=your_email_post_here
EMAIL_USE_TLS=true_or_false
EMAIL_USE_SSL=true_or_false
EMAIL_HOST_USER=your_email_here
EMAIL_HOST_PASSWORD=your_email_password_here
DEFAULT_FROM_EMAIL=your_default_email_here