{% extends 'catalog/catalog_base.html' %}

{% block title %}Форма товара{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Форма товара</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <form method="post" action="" class="form-floating" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}