{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">TechStore</h1>
    <p class="lead">TechStore - это интернет-магазин техники, где вы можете найти что угодно</p>
</div>
{% endblock %}

{% block content %}
<div class="row text-center justify-content-center g-5">
    {% for product in products %}
        <div class="col-12 col-md-4">
            <div class="card h-100 box-shadow">
                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     style="height: 250px; object-fit: contain; max-width: 400px"
                     alt="{{ product.name }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product.description }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Купить</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}